<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Адреса</title>
</head>
<body>
<div th:switch="${address}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Список клиентов</h2>
        <table>
            <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="addr : ${address}">
                <td th:text="${addr.address_id}"></td>
                <td th:text="${addr.last_name}"></td>
                <td th:text="${addr.first_name}"></td>
                <td th:text="${addr.email}"></td>
                <td><a th:href="@{address/update/{id}(id=${addr.address_id})}">Изменить</a></td>
                <td><a th:href="@{address/delete/{id}(id=${addr.address_id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/address/create">Добавить нового клиента</a></p>
</div>
</body>
</html>