<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление клиента</title>
</head>
<body>
<h2>Добавление клиента</h2>
<form th:method="POST" th:action="@{/address}" th:object="${address}">
    <label for="address_id">Введите id: </label>
    <input type="text" th:field="*{address_id}" id="address_id" />
    <div style="color:red" th:if="${#fields.hasErrors('address_id')}" th:errors="*{address_id}">Неправильный id</div>
    <br/>

    <label for="last_name">Введите фамилию: </label>
    <input type="text" th:field="*{last_name}" id="last_name" />
    <div style="color:red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}">Неправильная фамилия</div>
    <br/>

    <label for="first_name">Введите имя: </label>
    <input type="text" th:field="*{first_name}" id="first_name" />
    <div style="color:red" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}">Неправильное имя</div>
    <br/>

    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email" />
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Нерпавильный email</div>
    <br/>
    <input type="submit" value="Добавить!"/>
</form>
</body>
</html>